{% extends 'base.html' %}

{% block style %}
<style type='text/css'>
html {
	height: 100%;

}
body {
	height: 100%;
	margin: 0;
	padding: 0; 
}

.logo {
	position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: auto;
}

.logo-handler { 
	height: 75%;
	width: 100%;
}

#social-buttons #container {
	text-align: center;
}

#social-buttons #container ul li {
	display:inline-block;
	list-style-type: none;
	width: 25%;
	min-width: 350px;
}

#linker {
}

#lister {
	height: 60%;
	padding: 0;

}
.button {
	width: 15%;
	height: 15%;
}

</style>

{% endblock %}

{% block content %}
{% load static %}
<div class='logo-handler'>
	<div class='logo-div'>
		<img class='logo' src='{% static 'Home/logo.jpg' %}'>
	</div>
</div>

<div style='width:100%;' id='social-buttons'>
	<div style='width:100%;' id='container'>
		<ul id='lister'>
			<li><a href='https://dhsnews.net' id='linker'><img class='button' src='{% static 'Home/dhsnews-512.png' %}'></a></li>
			<li><a href='https://github.com/ByrdOfAFeather/AlphaTrion' id='linker'><img class='button' src='{% static 'Home/dhswebsite-512.png' %}'></a></li>
			<li><a href='https://www.facebook.com/groups/700578770033057/' id='linker'><img class='button' src='{% static 'Home/dhsstudents-512.png' %}'></a></li>
		</ul>
	</div>
</div>


{% endblock %}
