{% extends 'base.html' %}

{% block title %}<title>Projects</title>{% endblock %}

{% block style %}
<style type='text/css'>
html, body{
	width: 100%;
	height: 100%;
}

#Senate{
	padding-top: 40px; 
	display: inline-block;
	text-align: center;
	width: 50%;
	height: 50%;
}

#Senate .title-text{
	text-decoration: none;
	color: black;
}

#Student{
	padding-top: 40px;
	display: inline-block;
	float: right;
	text-align: center;
	width: 50%;
	height: 50%;
}


.thumbnail{
	width: 100%;
	height: auto;
}

.title .title-text{
	text-decoration: none;
	color: black;
}





</style>
{% endblock %}


{% block content %}

<div class='content-block' id='main'>
<article id='Senate' class='article'>
	<div id='Thumbnail'>
		<a href=''><img class='image' src=''></a>
	</div>

	<div id='title'>
		<h1 class='title-text'><a class='title-text' href='{% url 'senate-projects-home' %}'>SENATE PROJECTS</a></h1>
	</div>
</article>

<article id='Student' class='article'>
	<div class='thumbnail'>
		<a href=''><img src=''></a>
	</div>

	<div class='title'>
		<h1 class='title-text'><a class='title-text' href=''>STUDENT PROJECTS</a></h1>
	</div>
</article>
</div>


{% endblock %}