{% extends 'base.html' %}

{% block title %}<title>Projects</title>{% endblock %}

{% block style %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'css/projects-home.css' %}">
{% endblock %}


{% block content %}

<div class='content-block' id='main'>
<article id='Senate' class='article'>
	<div id='Thumbnail'>
		<a href=''><img class='image' src=''></a>
	</div>

	<div id='title'>
		<h1 class='title-text'><a class='title-text' href='{% url 'senate-projects-home' %}'>SENATE PROJECTS</a></h1>
	</div>
</article>

<article id='Student' class='article'>
	<div class='thumbnail'>
		<a href=''><img src=''></a>
	</div>

	<div class='title'>
		<h1 class='title-text'><a class='title-text' href=''>STUDENT PROJECTS</a></h1>
	</div>
</article>
</div>


{% endblock %}