{% extends 'base-nonav.html' %}
{% block title %}<title>{{ project.title }}</title>{% endblock %}

{% block style %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'css/projects-home.css' %}">
{% endblock %}

{% block content %}
<div class='photo'>
	<img class='picture' src='{{ project.image }}'>
</div>
<div class='title'>
<h1>{{ project.title }}</h1>
</div>

<div class='description'>
<h2>{{ project.description }}</h2>
</div>

{% if project.survey %}
	<h3><p class='survey-link'><a class='survey-link' href='{% url 'senate-project-survey' project.id %}'>Survey</a></p></h3>
{% else %}
{% endif %}
{% endblock %}