{% extends 'base-nonav.html' %}
{% block title %}<title>{{ project.title }}</title>{% endblock %}

{% block style %}
<style text='type/css'>
html, body{
	margin: 0;
	height: 100%;
	width: 100%;
}

.title{
	text-align: center;
}

.description{
	text-align: center;
}

.survey-link{
	text-align: center;
}


.photo{
	background-color: rgba(143, 40, 55, 1);
}

.picture{
	margin: auto;
	display: block;
	width: 50%;
	height: 50%;
}
</style>
{% endblock %}

{% block content %}
<div class='photo'>
	<img class='picture' src='{{ project.image }}'>
</div>
<div class='title'>
<h1>{{ project.title }}</h1>
</div>

<div class='description'>
<h2>{{ project.description }}</h2>
</div>

{% if project.survey %}
	<h3><p class='survey-link'><a class='survey-link' href='{% url 'senate-project-survey' project.id %}'>Survey</a></p></h3>
{% else %}
{% endif %}
{% endblock %}