{% extends 'base.html' %}
{% block title %}<title>Senate Projects</title>{% endblock %}

{% block style %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'css/senate-projects.css' %}">
{% endblock %}

{% block content %}
{% if senate_projects %}
<div class='article-main'>
	{% for projects in senate_projects %}
	<article class='articles' id='{{ projects.title }}'>
		<a href='{% url 'senate-project-specific' projects.id %}'><img class='thumbnail' src='{{ projects.image }}'></a>
		<h1 class='title'><a class='title' href='{% url 'senate-project-specific' projects.id %}'>{{ projects.title }}</a></h1> 
	</article>
	{% endfor %}
</div>
{% else %}
<p style="display: inline-block;">No Senate Projects to display!</p>
{% endif %}
{% endblock %}