{% extends 'base.html' %}


{% block title %}<title>Reivew for {{ community.date }}</title>{% endblock %}
{% block style %}
<style>

.game_rating > *{
	display:inline-block;
}

li {
	display: inline-block;
}

</style>
{% endblock %}

{% block content %}
{% block nav-bar %}{% endblock %}
{% if request.user.id == user.id %}
	
	<form method="POST">
	{% csrf_token %}
	{% if community.occuring_games.all %}
	{% for games in community.occuring_games.all %}
	
	<p>What did you think of {{ games }} 
		
	{% load static %}
	<img style="height:1em;width:1em;" src="{% static "Community/icons.png" %}" alt="info">

	</p>
	{% load extras %}
	{% with x=game_form_dict|key:games.name %}
	{{ x }}
	{% endwith %}
	{% endfor %}

	
	{% else %}
	{% endif %}
	
	<br>
	
	<p>Please rate what you thought of this community's pacing</p>
	{{ pacing_section }}

	<br>

	<p>To get a general sense of how community went, please answer the following questions:</p>
	{{ extra_ratings }}


	<input type='submit' value="Submit">
	</form>

{% else %}
	<p>ERROR</p>
{% endif %}	

{% endblock %}