input, textarea{
	padding: 9px; 
	border: 1px solid #e5e5e5; 
	outline: 0; 
	font: normal 13px/100% Verdana, Tahoma, sans-serfif;
	background: white;
	
}

textarea{
	width: 400px;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus{
	background: #c9c9c9; 
}

form label{
	margin-left: 10px;
	color: #999999; 
}

input[type=submit]{
	padding: 9px 15px; 
	width: 75px; 
	cursor: pointer; 
	background-color: #8f2837;
	border: 0;
	font-size: 14px;
	color: #efc729;
}