{% extends 'base.html' %}
{% block title %}<title>Senate</title>{% endblock %}

{% block style %}
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'css/senate-home.css' %}">
{% endblock %}


{% block content %}
{% if senator_list %}
	{% for senators in senator_list %}
	<article class='senator-list-item'> 

		<div class='thumbnail'>
			{% load static %}
			<img class='photo' src='{{ senators.photo }}'>
		</div>

		<div class='senator-info-section'>
			<p class='name'>{{ senators.name }}</p>
			<p class='email'> {{ senators.email }}</p>
			<p class='grade'> {{ senators.grade }}</p>
			<p class='position'> {{ senators.position }}</p>
		</div>
	</article>
	{% endfor %}

{% else %}
	<b class='senator-list-item'>SECTION COMING SOON!</b>
{% endif %}

{% endblock %}